.pics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto );
    gap: 2em;
    margin-top: 4em;
    padding: 50px;
    text-align: center;
}
.pics a {
    text-decoration: none;
    font-size: 2em;
}
.panda_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 2em;
    margin-top: 5em;
    padding: 50px;
}

.pandas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: antiquewhite;
    padding: 2em;
    font-size: 40px;
}
.pandas a {
    text-decoration: none;
    color: lightseagreen;
}

.panda_links p {
    text-align: center;
    font-size: 18px;
}
.panda_links h2 {
    text-align: center;
    font-size: 25px;
}
@media screen and (min-width:600px) and (max-width:767px) {
    main {
        display: flex;
        flex-direction: column;
        
    }
    .pandas {
        display: flex;
        flex-direction: column;
    }
    .pics {
        padding-bottom: 2rem;
    }
    .info div {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 599px) {
    main {
        display: flex;
        flex-direction: column;
        
    }
    .contact {
        padding-bottom: 2rem;
    }
    .info div {
        padding-bottom: 2rem;
    }
}